
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<div class="container mt-5">
    <h2>{{ header }}</h2>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class = "form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" [ngModel]="employee.id" name="id">
        </div>
        <div class = "form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" [ngModel]="employee.firstName" name="firstName">
        </div>
        <div class = "form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" [ngModel]="employee.lastName" name="lastName">
        </div>
        <div class = "form-group">
            <label>Gender</label>
            <div class="form-control">
                <label class= "radio-inline" >
                    <input type="radio" value ="male" name="gender" [ngModel]="employee.gender" >
                    Male
                </label>
                <label>
                    <input type="radio" value="female" name="gender" [ngModel]="employee.gender">
                    Female
                </label>
                
            </div>
            
        </div>
        <div class = "form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" [ngModel]="employee.email" name="email">
        </div>
        <div class = "form-group">
            <label for="department">Department</label>
            <select id="department" [ngModel]="employee.department" name="department" class="form-control">
                <option value="HrHelpDesk">HrHelpDesk</option>
                <option value="InsuranceHelpDesk">InsuranceHelpDesk</option>
                <option value="DLA">DLA</option>
                <option value="Payroll">Payroll</option>
            </select>
        </div>
        <div class = "form-group">
            <label for="">DOB</label>
            <input type="text" class="form-control" [ngModel]="employee.dob" name="dob">
        </div>
        <div class = "form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
